{% extends 'store/base.html' %} {% block content %}
<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">About us...</h1>
      <p class="lead fw-normal text-white-50 mb-0">Welcome to the family!</p>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <center>
      <div class="col-8">
        <p align="justify">
          <br />Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
          malesuada magna tristique quam ultricies, id ultricies nisi tempor.
          Cras nec tellus at dolor mattis congue. Sed interdum mauris nisl, non
          porta lectus luctus sed. Proin laoreet non orci in tempus. Aenean
          consectetur sit amet leo quis vehicula. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Integer gravida et velit et tempus. Sed
          interdum suscipit aliquet. Maecenas convallis elit ac eros iaculis
          luctus. Praesent mauris quam, cursus in eros ac, aliquam tincidunt mi.
          Nam accumsan congue felis, nec lobortis quam molestie eu. Maecenas ac
          molestie justo. Donec elementum quis turpis pretium finibus. Maecenas
          sagittis sollicitudin lacus id volutpat. Cras eu molestie dui.<br /><br />

          Ut sed orci ac lacus vehicula commodo pretium et felis. Sed vel risus
          vel ex blandit dictum. Donec ut hendrerit velit. Duis eu euismod nibh,
          vel iaculis ex. Proin sit amet ante ac mi luctus finibus vel at
          libero. Phasellus turpis metus, aliquam nec dui vel, blandit tincidunt
          mi. Aliquam nisl velit, mollis eu enim id, pellentesque efficitur
          nibh. Quisque sed justo augue. Donec eu tortor malesuada, lacinia diam
          vitae, rhoncus tortor. Aenean mollis semper arcu, eget luctus risus
          posuere vitae. In erat ante, dapibus sed accumsan non, gravida non
          eros. Duis id tortor malesuada, ultrices turpis ac, malesuada lorem.
          Orci varius natoque penatibus et magnis dis parturient montes,
          nascetur ridiculus mus. Nullam volutpat, quam quis dictum vulputate,
          nunc enim mattis nisi, quis dictum odio dolor et ex. Fusce
          pellentesque, metus sit amet aliquet iaculis, sapien felis interdum
          dui, id consectetur velit sem vitae enim. Nullam tristique rhoncus
          justo.<br /><br />

          Nullam a malesuada nunc, eget faucibus quam. Class aptent taciti
          sociosqu ad litora torquent per conubia nostra, per inceptos
          himenaeos. Sed rhoncus accumsan sapien, nec posuere velit. Donec
          lobortis mi id lorem aliquam, eu tempor nulla fringilla. Praesent
          gravida, turpis id tempus vulputate, nulla nulla lacinia ante, et
          fringilla urna augue nec risus. Pellentesque quis lectus consectetur,
          dapibus tortor scelerisque, interdum nibh. Pellentesque at mi quis
          eros rutrum elementum id non purus. Quisque lacinia blandit justo.
          Donec iaculis et velit accumsan lacinia. Aliquam id risus odio.
          Vivamus non nulla sollicitudin eros bibendum condimentum ut ut
          mauris.<br /><br />

          Cras vitae consectetur quam. Integer convallis ante ante. Donec sed
          nibh ac tortor semper malesuada. Duis nisi orci, consectetur in
          interdum vitae, facilisis in justo. Maecenas eleifend laoreet dui et
          placerat. Etiam ut massa purus. Nulla non est nibh. Nam malesuada
          dapibus tellus. In semper odio ante, consequat posuere nunc facilisis
          et. Quisque lorem tortor, vulputate ac justo in, blandit fermentum
          dui. Etiam libero sapien, laoreet ut tempus viverra, mollis sed leo.
          Pellentesque hendrerit eros vitae nunc rutrum finibus. Cras fermentum
          congue ligula sed fermentum.<br />
        </p>
      </div>
    </center>
  </div>
</div>
{% endblock content %}
