<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand text-uppercase logo text-dark" href="{% url 'home' %}">BuyTheSet</a>
    <div class="search-container">
        <form class="d-flex align-items-center" action="{% url 'product_search' %}" method="get"> 
            {% csrf_token %}
            <div class="search-box">
                <input class="form-control bg-light text-dark border-none custom-search-input" type="search" placeholder="Search products..." aria-label="Search" name="q" value="{{ request.GET.q }}">
                <i class="bi bi-search search-icon"></i>
            </div>
            {% if category %}
            <input type="hidden" name="category" value="{{ category.name }}">
            {% endif %}
        </form>
    </div>
    <div class="navbar-icons">
        <a href="#" class="nav-link cart-icon-container" data-bs-toggle="offcanvas" data-bs-target="#cartOffcanvas" aria-controls="cartOffcanvas">
            <i class="bi bi-bag-fill"></i>
            <span id="cart_quantity" class="cart-quantity">0</span>
        </a>
        <a href="#" class="nav-link profile-icon-container d-none d-lg-inline-block" id="profileDrowpdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-circle"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDrowpdown">
            <li><a class="dropdown-item" href="#">Login</a></li>    
            <li><hr class="dropdown-divider"></li>                    
            <li><a class="dropdown-item" href="#">Register</a></li>                        
        </ul>
        <a href="#" class="nav-link menu-icon-container d-lg-none" id="menuButton">
            <i class="bi bi-list"></i>
        </a>
    </div>
  </div>
</nav>
