{% extends 'store/base.html' %}

{% block content %}
<div class="container custom-my">
    {% for order in orders %}
    <div class="card mb-4">
        <div class="card-body">
            <div class="mb-3">
                <div class="d-flex justify-content-between">
                    <h5 class="d-inline-block">Order ID: {{ order.id }}</h5>
                    {% if not order.is_delivered %}
                    <a href="{% url 'order_details' order.id %}">Edit order</a>
                    {% else %}
                    <a href="{% url 'order_details' order.id %}">View order</a>
                    {% endif %}
                </div>
                <div class="d-md-flex mt-2">
                    <div>
                        <p class="mb-0 me-4"><strong>Date of order:</strong></p>
                        <p>{{ order.date_ordered|date:"F d, Y" }}</p>
                    </div>
                    <div>
                        <p class="mb-0 me-4"><strong>Total cost:</strong></p>
                        <p>R{{ order.total_amount }}</p>
                    </div>
                    <div>
                        <p class="mb-0 me-4"><strong>Payment status:</strong></p>
                        {% if order.payment_method == 'cash' and not order.is_delivered%}
                        <p>Pending...</p>
                        {% else %}
                        <p>Paid</p>
                        {% endif %}
                    </div>
                    {% if order.is_delivered %}
                    <div>
                        <p class="mb-0"><strong>Delivery date:</strong></p>
                        <p>{{ order.delivered_date|date:"F d, Y" }}</p>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="d-none d-md-block">
                <div class="row flex-nowrap overflow-auto">
                    {% for item in order.orderitem_set.all %}
                    <div class="col-md-1">
                        <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="img-fluid mb-2 round-image" style="height: 100%; width: 100%;" >
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="d-md-none">   
                <div class="order-items-container">
                    <div class="row flex-nowrap overflow-auto">
                        {% for item in order.orderitem_set.all %}
                        <div class="col-4">
                            <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="img-fluid mb-2 order-item-image round-image" style="height: 100%; width: 100%;" >
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    {% empty %}
    <p>No orders found.</p>
    {% endfor %}
</div>
{% endblock %}
