{% extends 'store/base.html' %} {% load custom_filters %}{% block content %}
<br />
<div class="container">
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
            <div id="productCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for image in images %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <img src="{{ image }}" class="d-block w-100 square-image" alt="{{ product.name }}">
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text justify">{{ product.description|linebreaks }}</p>
          <br />
          <div class="row justify-content-center">
            <div class="col-md-2">
              Quantity
            </div>
            <div class="col-md-2">
              <select class="form-select form-select-sm" id="qty-cart">
                {% for i in product.quantity|range_to %}
                <option value="{{i}}">{{i}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <br />
          <button type="button" value="{{ product.id }}" class="btn btn-secondary" id="add-cart">Add to cart</button>
          {% if product.is_sale %}
          <span class="price float-end">
            <strike>R{{ product.price }}</strike>&nbsp;
            R{{ product.sale_price }}
          </span>
          {% else %}
          <span class="price float-end">R{{ product.price }}</span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<script>


  // Check if button with id="add-cart" is pressed
  $(document).on('click', '#add-cart', function (e) {
    e.preventDefault();

    // Send an AJAX POST request to the cart_add URL
    $.ajax({
      type: "POST",
      url: '{% url "cart_add" %}',
      data: {
        product_id: $('#add-cart').val(),
        product_qty: $('#qty-cart option:selected').text(),
        csrfmiddlewaretoken: '{{ csrf_token }}',
        action: 'post'
      },
      success: function (response) {
        if (response.success) {
            displayAlert(response.message, 'success');
        } else {
            displayAlert(response.error, 'danger');
        }
      },
      error: function (xhr, status, error) {
        console.error(error);
      },
    });
  });
</script>
{% endblock %}