{% extends 'store/base.html' %} {% block content %}
<!-- Form -->
<div class="container custom-my register-container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form method="POST" action="{% url 'register' %}">
        {% csrf_token %} 
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <small class="text-danger">{{ field.errors|join:", " }}</small>
                {% endif %}
            </div>
        {% endfor %}
        <br />
        <button type="submit" class="btn btn-secondary">Register</button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
