{% extends 'store/base.html' %} {% block content %}
  <!-- Form -->
    <div class="container custom-my user-info-container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form method="POST" action="{% url 'update_user' %}">
                    {% csrf_token %} {{ user_form.as_p }}
                    <br />
                    <button type="submit" class="btn btn-success">Update</button>
                </form>
                <a href="{% url 'update_password' %}" class="btn btn-secondary">Update Password</a>
            </div>
        </div>
    </div>
{% endblock %}
