{% extends 'store/base.html' %} {% load static %} {% block content %}
<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Shopping Cart</h1>
    </div>
  </div>
</header><br />
<div class="container">
  {% if cart_products %}
  {% for product in cart_products %}
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="..." />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text justify">{{ product.description|linebreaks }}</p>
          {% if product.is_sale %}
          <span class="price float-end">
            <strike>R{{ product.price }}</strike>&nbsp;
            R{{ product.sale_price }}
          </span>
          {% else %}
          <span class="price float-end">R{{ product.price }}</span>
          {% endif %}
          <div class="row justify-content-center">
            <div class="col-md-2">
              Quantity
            </div>
            <div class="col-md-2">
              <select class="form-select form-select-sm" id="select{{product.id}}">
                <option selected>
                  {% for key, value in quantities.items %}
                  {% if key == product.id|slugify %}
                  {{ value }}
                  {% endif %}
                  {% endfor %}
                </option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
              <button type="button" data-index="{{product.id}}" class="btn btn-secondary update-cart">Update</button>
              <button type="button" data-index="{{product.id}}" class="btn btn-danger delete-product">Remove</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <h3>Total: R{{ totals }}</h3>
  {% else %}
  <p>Nothing in Cart</p>
  {% endif %}
</div><br />
<script>
  // Update the cart
  $(document).ready(function () { // Ensure the DOM is fully loaded
    $('.update-cart').on('click', function (e) {
      e.preventDefault();
      // Grab the product ID and quantity
      var productId = $(this).data('index');
      $.ajax({
        type: 'POST',
        url: '{% url "cart_update" %}',
        data: {
          product_id: productId,
          product_qty: $('#select' + productId + ' option:selected').val(),
          product_name: $('#add-cart').data('name'),
          csrfmiddlewaretoken: '{{ csrf_token }}',
          action: 'post',
        },
        success: function (json) {
          location.reload();
        },
        error: function (xhr, errmsg, err) {
          // Handle errors here if needed
        },
      });
    });
  });
  // Delete the item from cart
  $(document).ready(function () { // Ensure the DOM is fully loaded
    $('.delete-product').on('click', function (e) {
      e.preventDefault();
      // Grab the product ID and quantity
      var productId = $(this).data('index');
      $.ajax({
        type: 'POST',
        url: '{% url "cart_delete" %}',
        data: {
          product_id: productId,
          csrfmiddlewaretoken: '{{ csrf_token }}',
          action: 'post'
        },
        success: function (json) {
          location.reload();
        },
        error: function (xhr, errmsg, err) {
          // Handle errors here if needed
        },
      });
    });
  });
</script>
{% endblock content %}