{% extends 'store/base.html' %}
{% block content %}
<header class="bg-dark py-5">
    <script src="https://js.paystack.co/v2/inline.js"></script>
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Order Summary</h1>
        </div>
    </div>
</header>
<div class="container my-5">
    <div class="row">
        <div class="col-md-8">
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart_items_data %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>R{{ item.price }}</td>
                        <td>{{ item.quantity}}</td>
                        <td>R{{ item.total }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="text-right">
                <h5 id="shipping-fee">Shipping: R{{ default_shipping_fee }}</h5>
                <h4>Total: R<span id="total-amount">{{ cart_total }}</span></h4>
            </div>
        </div>
        <div class="col-md-4">
            <h4>Order Information</h4>
            <form id="order-form" action="{% url 'save_shipping_info' %}" method="POST">
                {% csrf_token %}
                <div id="shipping-fields">
                    {{ form.as_p }}
                </div>
                <div class="container my-3 d-flex justify-content-between">
                    <button type="button" class="btn btn-primary" onclick="saveOrderInfo()">Pay with Paystack</button>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="is_collect" id="is-collect" value="True">
                        <label class="form-check-label" for="is-collect">Collect</label>
                    </div>
                </div>
            </form>
            <form id="paystack-form">
                <input type="hidden" name="email" value="">
                <input type="hidden" name="first_name" value="">
                <input type="hidden" name="last_name" value="">
                <input type="hidden" name="phone" value="">
            </form>
        </div>
    </div>
</div>
<script>
    // Get the purchased product details and assign it to a JavaScript variable
    var purchasedProducts = [];
    {% for item in cart_items_data %}
        purchasedProducts.push({
            'name': '{{ item.name }}',
            'quantity': {{ item.quantity }},
            'price': {{ item.price }},
            'total': {{ item.total }},
        });
    {% endfor %}
    console.log(purchasedProducts)
</script>
<script>
    var defaultShippingFee = {{ default_shipping_fee }};
    var cartTotal = {{ cart_total }};
    var totalWithoutShipping = cartTotal - defaultShippingFee;
    var isCollectChecked = localStorage.getItem('isCollectChecked') === 'true';
    function updateCollectState(){
        var address1Field = document.getElementById('id_address1').parentNode;
        var address2Field = document.getElementById('id_address2').parentNode;
        var shippingFee = document.getElementById('shipping-fee');
        var totalAmount = document.getElementById('total-amount');
        if (isCollectChecked) {
            address1Field.classList.add('d-none');
            address2Field.classList.add('d-none');
            shippingFee.innerText = 'Shipping: R0.00';
            totalAmount.innerText = totalWithoutShipping;
        } else {
            address1Field.classList.remove('d-none');
            address2Field.classList.remove('d-none');
            shippingFee.innerText = 'Shipping: R{{ default_shipping_fee }}';
            totalAmount.innerText = cartTotal;
        };
    };
    document.addEventListener('DOMContentLoaded', function() {
        var isCollectCheckbox = document.getElementById('is-collect');
        isCollectCheckbox.checked = isCollectChecked;
        updateCollectState();
    });
    document.getElementById('is-collect').addEventListener('change', function() {
        isCollectChecked = this.checked;
        localStorage.setItem('isCollectChecked', isCollectChecked);
        updateCollectState();
    })

    function saveOrderInfo(){
        var form = document.getElementById('order-form');
        var formData = new FormData(form);
        // Clear previous error messages and field highlighting
        clearErrors()

        // Make an AJAX request to save the shipping information
        fetch("{% url 'save_shipping_info' %}", {
            method: 'POST',
            body: formData,
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                // Shipping information saved successfully, update Paystack form fields
                var paystackForm = document.getElementById('paystack-form');
                paystackForm.querySelector('input[name="email"]').value = formData.get('email');
                paystackForm.querySelector('input[name="first_name"]').value = formData.get('full_name').split(' ')[0];
                paystackForm.querySelector('input[name="last_name"]').value = formData.get('full_name').split(' ')[1];
                paystackForm.querySelector('input[name="phone"]').value = formData.get('phone_number');
                // Proceed with Paystack payment
                payWithPaystack();
            } else {
                // Handle error if shipping information could not be saved
                displayErrors(data.errors);
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }


    function clearErrors(){
        var errorMessages = document.querySelectorAll('.error-message');
        errorMessages.forEach(function(errorMessage) {
            errorMessage.remove();
        });
        var errorFields = document.querySelectorAll('.error-field');
        errorFields.forEach(function(errorField) {
            errorField.classList.remove('error-field');
        });
    }
    
    
    function displayErrors(errors) {
        for (var field in errors) {
            var errorMessage = document.createElement('p');
            errorMessage.classList.add('error-message');
            errorMessage.innerText = errors[field];

            var inputField = document.querySelector('[name="' + field + '"]');
            inputField.parentNode.insertBefore(errorMessage, inputField.nextSibling);
            inputField.classList.add('error-field');
        }
    }

    
    function payWithPaystack() {
        var paystackForm = document.getElementById('paystack-form');
        var email = paystackForm.querySelector('input[name="email"]').value;
        var firstName = paystackForm.querySelector('input[name="first_name"]').value;
        var lastName = paystackForm.querySelector('input[name="last_name"]').value;
        var phone = paystackForm.querySelector('input[name="phone"]').value;
        var isCollect = document.getElementById('is-collect').checked;
        var totalAmount = isCollect? totalWithoutShipping : cartTotal;
        // Check for product availability before initiating payment
        $.ajax({
            type: "POST",
            url: '{% url "check_product_availability" %}',
            data: {
                'products': JSON.stringify(purchasedProducts),
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            success: (response) => {
                if (response.success) {
                    // Proceed with Paystack payment
                    const handler = new PaystackPop();
                    handler.newTransaction({
                        key: '{{ paystack_public_key }}',
                        email: email,
                        amount: totalAmount * 100,
                        currency: "ZAR",
                        ref: ''+Math.floor((Math.random() * 1000000000) +1),
                        firstname: firstName,
                        lastname: lastName,
                        phone: phone,
                        onSuccess: (response) => {
                            var products = JSON.stringify(purchasedProducts)
                            // Make an AJAX request to save the order on the server
                            $.ajax({
                                type: "POST",
                                url: '{% url "save_order" %}',
                                data: {
                                    'email': email,
                                    'first_name': firstName,
                                    'last_name': lastName,
                                    'amount': '{{ cart_total|stringformat:"d" }}00',
                                    'products': products,
                                    'shipping_address': $('#id_address1').val() + ', ' + $('#id_address2').val(),
                                    'is_collect': isCollect,
                                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                                },
                                success: (serverResponse) => {
                                    // Redirect the user to the payment success page
                                    window.location.href = "{% url 'payment_success' %}";
                                },
                                error: (xhr, status, error) => {
                                    // Handle error here
                                    console.error('Error saving order:', error);
                                }
                            })
                        },
                        onCancel: () => {
                            // user closed popup
                        },
                    });
                } else {
                    displayAlert(response.error, 'danger');
                }
            },
            error: (xhr, status, error) => {
                console.error('Error checking product availability:', error);
            }
        });
    }
</script>
{% endblock %}

