a {
    text-decoration: none ;
}

.error-message {
    color: red;
    margin-top: 5px;
}

.error-field {
    border-color: red;
}

.cart-message {
    z-index: 9999;
}

.custom-bg-success {
  background-color: #b1dfbb;
}

.custom-bg-info {
  background-color: #bee5eb;
}

.custom-bg-warning {
  background-color: #c9bfa2;
}

.custom-bg-danger {
  background-color: #ce9ea2;
}

.progress {
    height: 5px;
    background-color: transparent;
}

.progress-bar {
    transition: width 0.03s linear;
}

.square-image {
    aspect-ratio: 1/1;
    object-fit: cover;
}

.alert {
z-index: 1000;
}

.dropdown-item:hover {
background-color: #496057;
}

.logo {
font-weight: bold;
font-size: 1.5rem;
color: #496057;
}


@media (min-width: 992px) {
/****** Navbar ******/
    .navbar {
        justify-content: space-between;
        padding-bottom: 40px;
    }

    .navbar-brand {
        margin-right: 0;
    }

    .navbar-nav {
        align-items: center;
    }

    .navbar-nav .nav-link {
        margin-right: 10px;
    }

    .navbar-icons .profile-icon-container {
        margin-left: 10px;
    }


    /* Search input */
    .custom-search-input {
        border: none;
        border-bottom: 1px solid #333;
        border-radius: 0;
        background-color: white !important;
    }
    .custom-search-input:focus {
        border-bottom: 2px solid #333 !important;
        outline: none !important;
        box-shadow: none !important;
    }
    .custom-search-input:hover {
        border-bottom: 2px solid #333 !important;
    }

    .search-box {
        position: relative !important;
        color: #fff !important;
    }
    .search-box .search-icon {
        position: absolute !important;
        right: 10px !important;
        top: 50% !important;
        transform: translateY(-50%) !important;
        pointer-events: none !important;
        color: #333 !important;
    }
    .search-box input {
        padding-right: 30px !important;
        width: 250px;
    }

    .search-container {
        position: absolute;
        left: 50%;
        transform: translateX(-50%)
    }



    /* Cart */
    .cart-icon-container,
    .profile-icon-container {
        position: relative;
        display: inline-block;
        padding: 0;
        margin: 0;
        line-height: 1;
        color: #333;
    }
    .cart-icon-container .bi-bag-fill,
    .profile-icon-container .bi-person-circle {
        font-size: 1.5rem;
    }
    .cart-quantity {
        position: absolute;
        top: 6px;
        right: 3px;
        background-color: transparent;
        border-radius: 50%;
        width: 18px;
        height: 18px;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
    }
    .offcanvas.show {
        border: none;
    }
    .offcanvas-backdrop {
        background-color: rgba(0, 0, 0, 0.158);
        opacity: 0;
        transition: opacity 0.3s ease;
    }
    .offcanvas-backdrop.show {
        opacity: 1;
    }
    .offcanvas-end {
        width: 351px !important;
    }
    .offcanvas-header {
        position: sticky;
        top: 0;
        background-color: #000;
        z-index: 1;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        height: 90px;
        color: #fff;
    }
    .offcanvas-title {
        margin: 0;
    }
    .cart-header-line {
        margin: 0;
        border-top: 1px solid #ccc;
    }
    .custom-btn-close {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        outline: none;
        position: absolute;
        left: 1rem;
    }
    .custom-btn-close i {
        font-size: 1.5rem;
        color: #ffffff;
    }
    .offcanvas-body {
        overflow-y: auto;
        height: calc(100vh - 200px);
        padding: 34px;
        padding-bottom: 0;
    }
    .cart-items-container {
        max-height: 100%;
        overflow-y: auto;
        padding: 0 34px;
        margin: 0 -34px;
    }
    .cart-item {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    .cart-item-image {
        width: 100px;
        height: 100px;
        object-fit: cover;
        margin-right: 10px;
    }
    .cart-item-details {
        flex: 1;
    }.cart-item-details p, h6 {
        margin: 0 ;
    }
    .quantity-input {
        display: flex;
        align-items: center;
    }
    .quantity-btn {
        padding: 5px 10px;
        background-color: #f1f1f1;
        border: none;
        cursor: pointer;
    }
    .quantity-field {
        width: 50px;
        text-align: center;
        border: none;
        border-bottom: 1px solid #ccc;
    }
    .cart-item-separator {
        border: none;
        border-top: 1px solid #7a7a7a;
        margin: 1rem 0;
    }
    .offcanvas-filler {
        margin: 20px;
    }
    .offcanvas-footer {
        position: sticky;
        bottom: 0;
        background-color: #fff;
        padding: 1rem;
        box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    }
    .checkout-btn-container {
        margin: 1rem !important;
    }
    .checkout-btn {
        background-color: #000;
        border-color: #000;
    }.checkout-btn:hover {
        border-color: #fff;
        background-color: #000000e5;
    }



    /* Profile */
    .profile-icon-container {
        margin-right: -5px;
    }
    .dropdown-menu {
        min-width: 100px;
        top: 50% !important;
    }
    .dropdown-menu-end {
        right: auto !important;
        left: 50%;
    }
    .dropdown-item:hover {
        background-color: transparent;
        color: #a5a5a5;
    }
    .menu-icon-container {
        margin-left: 10px;
    }



/****** Home Page ******/
    .custom-py {
        padding-top: 5rem;
        padding-bottom: 3rem;
    }

    /* Sidebar */
    .sidebar {
        position: sticky;
        top: 100px;
        max-height: calc(100vh - 100px);
        overflow-y: auto;
        padding: 20px;
        border-radius: 0;
        border: none;
        padding-left: 0px;
    }
    .sidebar-content {
        padding-right: 10px;
    }.sidebar-content::-webkit-scrollbar {
        width: 6px;
    }.sidebar-content::-webkit-scrollbar-track {
        background-color: #f1f1f1;
    }.sidebar-content::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 3px;
    }.sidebar-content::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }.sidebar-content p {
        margin-bottom: 0.5rem;
    }.sidebar-content p a {
        color: #333;
    }.sidebar-content p a:hover {
        color: #838383;
    }.sidebar-content p a.active {
        color: #1553ff;
    }

    /* Products */
    .card {
        border-radius: 0 !important;
        border: none !important;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .card-footer {
        border-top: none !important;
    }
}


